.register-main{
	margin-top: 100px;
	display: flex;
	justify-content: center;
}

.register-main-div{
	display: flex;
	width: 1000px;
	border: solid;
	border-width: 2px;
	border-color: lightgray;
	border-radius: 10px;
	padding: 40px;

	justify-items: center;
}

.register-left-staff{
	width: 500px;
}

.register-right-staff{
	padding-left: 100px;
	width: 400px;

}

.register-login-link{
	padding-right: 40px;
	text-decoration: none;
	font-weight: bold;
}

.register-confirm-line{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}